.profile {
  &__title {
    font-size: 32px;
  }
  &__main {
    &__row {
      display: flex;
      gap: 40px;
      margin-top: 40px;
      &__avatar {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
        border: 1px solid rgb(245, 245, 245);
        border-radius: 7px;
        padding: 20px;
        &__image {
          border-radius: 50%;
        }
        &__label {
          margin-top: 20px;
          background-color: #eee;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 13px;
          text-align: center;
          gap: 20px;
          padding: 15px;
          cursor: pointer;
          border-radius: 7px;
        }
        &__input {
          opacity: 0;
          position: absolute;
          z-index: -1;
        }
        &__button {
          margin-top: 20px;
        }
        &__button:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
        &__title {
          margin-bottom: 20px;
        }
      }
      &__profile {
        width: 50%;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
        border: 1px solid rgb(245, 245, 245);
        padding: 20px;
        border-radius: 7px;
      }
      &__password {
        width: 25%;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
        border: 1px solid rgb(245, 245, 245);
        border-radius: 7px;
        padding: 20px;
        &__button:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}
