.select {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 7px;
    padding-right: 5px;
    margin-top: 5px;
    &__input {
      padding: 10px;
      border: none;
      outline: none;
      color: #64748b;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
