.modal {
  &__title {
    margin-bottom: 20px;
  }
  &__button {
    background-color: rgb(252, 54, 54);
    max-width: 100px;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  &__button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
