.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition-duration: 300ms;
}
.primary {
  background-color: #16a34a;
  color: #fff;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.primary:hover {
  background-color: #097530;
}
.primary:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.secondary {
  background-color: #fff;
  color: #696969;
  font-weight: 700;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.danger {
  background-color: rgb(252, 54, 54);
  width: 100%;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.google {
  gap: 5px;
  margin-top: 10px;
  background-color: #fff;
  width: 100%;
  padding: 3px;
  color: #000;
  border: 1px solid #cbd5e1;
}
.google:hover {
  background-color: #fafbfc;
}
