.form {
  &__stock {
    display: flex;
    width: 100%;
    gap: 20px;
    &__item {
      width: 50%;
    }
    &__button {
      max-width: fit-content;
      padding: 10px 15px;
      font-size: 12px;
      border-radius: 20px;
      margin: 10px 0 20px 0;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    &__preview {
      margin-top: 10px;
      width: 15%;
      aspect-ratio: 1/1;
      height: auto;
    }
  }
  &__submit {
    margin-top: 15px;
  }
}
