.form {
  &__stock {
    display: flex;
    width: 100%;
    gap: 20px;
    &__item {
      width: 50%;
    }
    &__button {
      max-width: 110px;
      padding: 10px 15px;
      font-size: 12px;
      border-radius: 20px;
      margin: 10px 0 20px 0;
    }
  }
  &__submit {
    margin-top: 15px;
  }
}
