.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h1 {
    margin: 20px 0 20px 0;
  }
  &__btn {
    width: fit-content;
    margin-top: 20px;
    border-radius: 50px;
    padding: 18px 24px;
  }
}
